.App {
    width: 100%;
    display: grid;  
    grid-template-rows: 2fr, 1fr, 8fr, 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
}

.Title {
    grid-area: header;
    text-align: center;
    height: 100%;
    background-color: gainsboro;
}

.Nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
}
.NavLink {
    text-transform: capitalize;
    color: black;
}

.Router {
    padding: 20px;
    grid-area: main;
    justify-content: space-evenly;
}

.Footer {
    grid-area: footer;
    text-align: center;
}