.ArticleTitle{
    text-align: center;
    text-transform: capitalize;
    background-color: slateblue;
    color: white;
    margin: 0;
    padding: 10px;
}
.ArticleAuthor {
    margin: 0;
    padding: 5px;
    padding-left:20px;
}
.ArticleCreated {
    margin: 0;
    padding: 5px;
    padding-left: 20px;
}
.ArticleBody {
    /* border: solid 1px black; */
    padding: 20px;
    margin: 0;
}


.CommentForm {
}
.CommentSection {
}
.CommentsHeader {
    text-align: center;
}