.ArticleFooter {
    display: flex;
    justify-content: space-evenly;
    /* border: solid 1px black; */
    padding: 20px;
}

.ArticleFooterCommentsInfo {
    width: 25%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ArticleFooterCommentCount{
    text-align: center;
    vertical-align: middle;
}
.ArticleFooterCommentAdd {
    background-color: silver;
    padding: 8px;
}

.ArticleFooterVotesInfo {
    width: 25%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ArticleFooterVoteCount {   
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}
.ArticleFooterVotesInfo > .VoteButton {
    background-color: silver;
    padding: 8px;
    width: 20%;
}


@media only screen and (max-width: 600px) {
    .ArticleFooterCommentsInfo {
        width: 40%;
        flex-direction: column;
    }
    .ArticleFooterVotesInfo {
        width: 40%;
        flex-direction: column;
    }
    .ArticleFooterVotesInfo > .VoteButton {
        width: 50%;
    }
}