.ArticlesContainer {
    
}

.ArticlesHeader {
    text-align: center;
    text-transform: capitalize;
    background-color: silver;
    border: solid 1px black;
    height: 40px;
}


.ArticlesSortButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ArticleSortButton {
    width: 15%;
    height: 30px;
    text-align: center;
    border: solid 1px black;
    background-color: gainsboro;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 600px){
    .ArticleSortButton {
        height: 20px;
        width: 100px;
    }
}
#SortBy {
    background-color: silver;
}

.ArticleCardsContainer {
    border: solid 1px black;
    padding: 10px;
    background-color: gainsboro;
}