.ArticleCard{
    /* width: 80%; */
    border: solid 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ArticleCardInfo {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}