.App {
    display: grid;  
    grid-template-rows: 2fr, 1fr, 8fr, 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
}

.Title {
    grid-area: header;
    text-align: center;
    height: 100%;
    background-color: gainsboro;
}

.Nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
}

.NavLink {
    text-transform: capitalize;
}

.Router {
    grid-area: main;
    overflow-y: scroll;
}

.Footer {
    grid-area: footer;
    text-align: center;
}


.ArticlesHeader {
    text-align: center;
    text-transform: capitalize;
}


.ArticleScore {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.CommentCard {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr, 5fr, 1fr ;
    grid-template-areas:
      "info body votes";
}

.CommentInfo {
    grid-area: info;
}

.CommentBody {
    grid-area: body;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.CommentVotes {
    grid-area: votes;
}