.App {
    display: grid;  
    grid-template-rows: 2fr, 1fr, 8fr, 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
}

.Title {
    grid-area: header;
    text-align: center;
    height: 100%;
    background-color: gainsboro;
}

.Nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
}
.NavLink {
    text-transform: capitalize;
    colour: black;
}

.Router {
    grid-area: main;
    overflow-y: scroll;
}

.ArticlesHeader {
    text-align: center;
    text-transform: capitalize;
}

.Footer {
    grid-area: footer;
    text-align: center;
}



.ArticleTitle{
    text-align: center;
}
.ArticleAuthor {
    margin-left: 20px;
}
.ArticleCreated {
    margin-left: 20px;
}
.ArticleBody {
    border: solid 1px black;
    margin: 20px;
    padding: 20px;
}
.ArticleFooter {
    display: flex;
    justify-content: space-evenly;
    border: solid 1px black;
    margin: 20px;
    padding: 20px;
}
.ArticleFooterInfo {
    vertical-align: middle;
}
.AddCommentButton {
    margin: 5px;
    padding: 8px;
    background-color: silver;
}


.CommentSection {
    border: solid 1px black;
    margin: 20px;
}
.CommentsHeader {
    margin-left: 20px;
}
.CommentCard {
    border: solid 1px orange;
    margin: 20px;
    display: grid;
    grid-template-columns: 200px 1fr 100px ;
    grid-template-areas:
      "info body votes";
}
.CommentInfo {
    border: solid 1px chartreuse;
    grid-area: info;
}
.CommentBody {
    border: solid 1px red;
    grid-area: body;
}
.CommentVotes {
    border: solid 1px blue;
    grid-area: votes;
    display:grid;
    grid-template-rows: 1fr, 2fr;
    grid-template-areas:
        "voteScore"
        "voteButtons";
}
.VoteScore {
    text-align: center;
    grid-area: voteScore;
}
.VoteButtons {
    grid-area: voteButtons;
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
        "voteButtonsTop"
        "voteButtonsBottom";
}
.VoteUp {
    grid-area: voteButtonsTop;
}
.VoteDown {
    grid-area: voteButtonsBottom;
}
.CommentDelete {
    grid-area: voteButtonsBottom;
    margin: 5px;
    padding: 8px;
    background-color: silver;
}
.VoteButton {
    margin: 5px;
    padding: 8px;
    background-color: silver;
}



.NewCommentForm {
    border: solid 1px yellow;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr, 100px;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas:
        "input cancel"
        "input deadspace"
        "input submit";
}
.NewCommentInput {
    grid-area: input;
}
.NewCommentCancelButton {
    grid-area: cancel;
}
.NewCommentSubmitButton {
    grid-area: submit;
}



.ArticlesTable {
    border: solid 1px black;
    margin: 20px;
    padding: 10px;
    width: 100%;
}
.TableHeader {
    padding: 20px;
    margin: 20px;
    background-color: silver;
    border: solid 1px orange;
}
th {
    height: 50px;
}
.TableHeading {
    height: 50px;
}
.TableTitle {
    width: 50%;
}
.TableAuthor {
    text-align: center;
    width: 10%;
}
.TableCreatedAt {
    text-align: center;
    width: 20%;
}
.TableComments {
    text-align: center;
    width: 10%;
}
.TableVotes {
    text-align: center;
    width: 10%;
}